
body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

h1 {
  text-align: center;
}

span {
  display: inline-block;
 vertical-align: middle;
 line-height: normal;
}

.topinterfacecontainer {
  display: grid;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(50px, 2fr));
  grid-template-rows: 1fr;
  align-self: stretch;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-self: stretch;
  min-width: 100px;
  height: 80vh;
}

.box {
  height: 28vh;
  min-width: 100px;
  text-align: center;
  background-color: #DDDDDD;
}

.boxred {
  height: 28vh;
  min-width: 100px;
  text-align: center;
  background-color: #FF4136
}

.boxblue {
  height: 28vh;
  min-width: 100px;
  text-align: center;
  background-color: #0074D9
}

.topmessage {
  grid-column: 1 / span 1;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.redcounter {
  grid-column: 2 / span 1;
  text-align: right;
  font-weight: bolder;
  color: #FF4136
}

.bluecounter {
  grid-column: 3 / span 1;
  text-align: left;
  font-weight: bolder;
  color: #0074D9
}

.resetgame {
  grid-column: 4 / span 1;
  color: black;
  font-weight: bolder;
  text-align: right;
}

.redhover {
  background-color: #ffb7b3;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.bluehover {
  background-color: #b3dbff;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
