
body {
  margin: 2em;
  background-color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

h1 {
  text-align: center;
}

span {
  display: inline-block;
 vertical-align: middle;
 line-height: normal;
}

.topinterfacecontainer {
  display: grid;
  margin-bottom: 1em;
  margin-top: -1em;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: 1fr;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: auto;
  grid-gap: 0em;
  align-self: stretch;
  width: minmax(200px, 50%);
  height: minmax(200px, 50%);
}

.box {
  height: 30vh;
  line-height: 28vh;
  text-align: center;
  /*color: black;
    -webkit-transition: color 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;*/
  background-color: black;
    /*-webkit-transition: background-color 300ms 20ms ease-in-out;
    -ms-transition: background-color 300ms 20ms ease-in-out;
    transition: background-color 300ms 20ms ease-in-out;*/
}

.topmessage {
  grid-column: 1 / span 1;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.redcounter {
  grid-column: 2 / span 1;
  text-align: right;
  font-weight: bolder;
  color: #FF4136
}

.bluecounter {
  grid-column: 3 / span 1;
  text-align: left;
  font-weight: bolder;
  color: #0074D9
}

.resetgame {
  grid-column: 4 / span 1;
  color: black;
  font-weight: bolder;
  text-align: right;
}


/*.blackBox {
  background-color: black
}

.whiteBox {
  background-color: white
}*/

@@keyframes fader {
  from {color: black;}
  to {color: white;;}
}
